@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Oswald&display=swap');

body {
    background-image: url(./resources/wpp.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5120px 100%;
}

.icons p {
    cursor: default;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.header-out{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 90%;
}

.header-title {
    cursor: default;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    margin-bottom: 5px;
}

.header-title > a{
    color: black;
    text-decoration: none;
}

.header-desc {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
}

.footer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer .text {
    font-family: 'EB Garamond', serif;
    font-size: 14px;
    color: lightgray;
}

.footer .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer .icons p{
    color: whitesmoke;
}


.footer .icons .icon{
    margin-left: 10px;
    margin-right: 10px;
    color: whitesmoke;
    text-decoration: none;
}

.footer .icons .icon a{
    color: whitesmoke;
    text-decoration: none;
}

.footer .icons .icon a:hover{
    color: lightgray;
    text-decoration: none;
}


.projectContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.projectDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    flex-basis: 300px;
    margin: 15px 25px 15px 25px;
    outline: 1px solid lightgray;
    outline-offset: -1px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
    transform: scale(1.0);
    transition: transform 0.1s ease-out;
}

.projectDiv:hover {
    transform: scale(1.1);
}


.projectTitle {
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px 3px 10px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    width: 280px;
    height: 30px;
}

.projectDesc {
    flex-basis: auto;
    font-size: 12px;
    font-family: 'EB Garamond', serif;
    font-weight: 100;
    margin: 0 10px 0 10px;
    width: 280px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    word-wrap: break-word;
}

.projectImg {
    object-fit: cover;
    width: 280px;
    height: 130px;
    margin: 10px 10px 5px 10px;
    outline: 1px solid lightgray;
    outline-offset: -1px;
}

.title-img {
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.15));
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.15));
}

.projectDiv a {
    text-decoration: none;
    color: black;
}

.login-body {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 24px;
}

.admin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

input[type=password] {
    font-size: 24px;
    border: none;
    text-align: center;
    background-color: transparent;
    border-bottom: 1.5px solid #222;
}

input[type=submit] {
    font-size: 24px;
    transition-duration: 0.4s;
    background-color: transparent;
    border: none;
    color: #222;
    font-family: 'Oswald', sans-serif;
}

.error-message {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: red;
    margin-top: 10px;
}

.notfound-body{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.notfound-body > h1 {
    margin-top: 20px;
    margin-bottom: -10px;
    font-size: 72px;
}

.notfound-body > h2 {
    font-size: 36px;
    font-weight: 100;
}

