@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Oswald&display=swap');

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 90%;
}

.header-title {
    font-family: 'Oswald', sans-serif;
    font-size: 64px;
    margin-bottom: 5px;
}

.header-desc {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}


.footer {
    margin-top: 20px;
    font-family: 'EB Garamond', serif;
    font-size: 14px;
    color: lightgray;
}

.projectContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    /* background-color: blue; */
}

.projectDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    flex-basis: 300px;
    margin: 15px 25px 15px 25px;
    /* border-style: solid; */
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}

.projectTitle {
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px 3px 10px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    width: 280px;
    height: 30px;
}

.projectDesc {
    flex-basis: auto;
    font-size: 12px;
    font-family: 'EB Garamond', serif;
    font-weight: 100;
    margin: 0 10px 0 10px;
    width: 280px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    word-wrap: break-word;
    /* background-color: red; */
}

.projectImg {
    object-fit: cover;
    width: 280px;
    height: 130px;
    margin: 10px 10px 5px 10px;
    /* border-style: solid; */
}